<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhhold.xp.plus">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>


</manifest>
